﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" CodeBehind="digital.aspx.cs" Inherits="assignment2a.digital" %>
<asp:Content  ContentPlaceHolderID="basicConcept" runat="server">
    
      
   
                <h2>About Digital Design</h2>
                <p>
                    This subject is related how the design and layout of a website looklike to the client. In this course i got the information about 
                    the semantics,ids ,class and how i can use them to get a specific design.
                </p>
                

   </asp:Content>     
            
<asp:Content ContentPlaceHolderID="mySnippetCode" runat="server">        
     
   
   <h2>My Code for the assignment</h2>
 <pre>
 &ltform id="submitForm"&gt
    &ltfieldset>
         &ltlabel for="fname"&gt&lt/label&gt
         &ltinput type="text" id="fName"&gt
         &ltlabel for="lname"&gt&lt/label&gt
         &ltinput type="text" id="lName"&gt
         &ltinput type="submit" id="submitbutton" value="Submit"&gt
    &lt/fieldset>  
 &lt/form&gt</pre>
            <p>This will create a form that will take user first name ,
                last name and will have submit button to submit these details.</p>
          

</asp:Content>      





<asp:Content ContentPlaceHolderID="referenceSnippetCode" runat="server">        
     
    <h2>HTML Example</h2>
                <p>This will change the backgroung color to power blue and will p.I have taken this example from W3School.</p>
                <pre>
&ltbody style="background-color:powderblue;"&gt
&lth1&gtThis is a heading&lt/h1&gt
&ltp&gtThis is a paragraph.&lt/p&gt
&lt/body&gt </pre>
               


</asp:Content>  






<asp:Content ContentPlaceHolderID="link" runat="server">        
     
   
    <h2>List of helpful links</h2>
               <ul>
                    <li><a href="https://www.w3schools.com/html/default.asp">W 3 SCHOOL</a></li>
                     <li><a href="https://www.encyclopedia.com/science-and-technology/computers-and-electrical-engineering/computers-and-computing/html"</a>Encylopedia</li>
                     <li><a href="https://en.wikipedia.org/wiki/HTML">Wikipedia</a></li>
                     
                </ul>
                

</asp:Content>  
            
            
           
    
    

